<!DOCTYPE html>
<html
        lang="pt"
        xmlns:th="https://www.thymeleaf.org/"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base.html}"
>
<head th:replace="~{base :: headerFragment (pageTitle='Plantas')}">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div layout:fragment="content">
    <h1>Plantas</h1>
    <div class="row">
        <div class="col text-end">
            <a class="btn btn-primary" href="/plants/create">Adicionar</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome da Planta</th>
                        <th scope="col" style="width: 5%">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="plant:${list}">
                        <td th:text="${plant.name}" class="align-middle"></td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Ações">
                                <a th:href="@{v1/plants/{plantId}(plantId=${plant.plantId})}" class="btn btn-outline-info" target="_blank"><i class="bi bi-filetype-json"></i></a>
                                <a th:href="@{plants/{plantId}(plantId=${plant.plantId})}" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-title="Visualizar"><i class="bi bi-eye"></i></a>
                                <a th:href="@{plants/{plantId}/edit(plantId=${plant.plantId})}" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-title="Editar"><i class="bi bi-pencil-square"></i></a>
                                <button type="button" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>