<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="headerFragment (pageTitle)">
  <meta charset="UTF-8">
  <title th:text="${pageTitle}">Lifewind Panel Admin</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-black min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Lifewind Panel Admin</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <i class="bi bi-house"></i> <span class="ms-1 d-none d-sm-inline">Principal</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/plants" class="nav-link align-middle px-0">
              <i class="bi bi-tree"></i> <span class="ms-1 d-none d-sm-inline">Plantas</span>
            </a>
          </li>
        </ul>
        <hr>
      </div>
    </div>
    <div class="col py-3" layout:fragment="content">
    </div>
  </div>
</div>

<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<script layout:fragment="script"></script>
</body>
</html>