<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Plants</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
</head>
<body>
    <div class="container">
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Nome da Planta</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ativo" checked>
                    <label class="form-check-label" for="ativo">Ativo</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Gravar</button>
        </form>
    </div>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>